<header class="container-fluid p-0">
    <!-- COVER IMAGE -->
    <%= image_tag "header-image.png", class: "w-100" %>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm navbar-dark text-bg-dark px-3">
        <a class="navbar-brand" href="#">ItalySoundSphere</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Concerts TM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Concerts EXT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Buddies</a>
            </li>

        </ul>
        <form class="d-flex my-2 my-lg-0">
            <input class="form-control me-sm-2" type="text" placeholder="Search">
        </form>
        </div>
    </nav>
</header>